/* static/css/odznaki/timeline.css */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* Pionowa linia osi czasu */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #e9ecef;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Kontener na pojedyncze wydarzenie */
.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* Kółka na osi czasu */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #0d6efd;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Kontenery po lewej i prawej stronie */
.left { left: 0; }
.right { left: 50%; }

/* Strzałki/dymki wskazujące na oś czasu */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Poprawki pozycjonowania dla prawych kontenerów */
.right::after { left: -16px; }

/* Właściwa treść wewnątrz kontenera */
.timeline-content {
    position: relative;
}

/* Media query dla urządzeń mobilnych (węższych niż 768px) */
@media screen and (max-width: 768px) {
    /* Przesuń oś czasu na lewo */
    .timeline::after {
        left: 31px;
    }

    /* Wszystkie kontenery na 100% szerokości */
    .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Upewnij się, że strzałki wskazują w lewo */
    .timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Pozycjonowanie kółek dla obu stron */
    .left::after, .right::after {
        left: 15px;
    }

    /* Ustawienie prawych kontenerów na lewej stronie */
    .right {
        left: 0%;
    }
}