<!-- odznaki/templates/odznaki/poi_scores.html -->
{% extends "odznaki/base.html" %}

{% block title %}Ranking Celów Turystycznych{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Ranking Celów Turystycznych</h1>
    </div>
    <p class="lead">Poniższa lista pokazuje, które punkty turystyczne mają największy potencjał punktowy, sumując ich wkład we wszystkie aktywne i nieukończone odznaki.</p>

    <div class="table-responsive">
        <table class="table table-hover align-middle" id="poiRankingTable">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Punkt Turystyczny</th>
                    <th scope="col">Region</th>
                    <col class="d-none d-md-table-cell"> <!-- Hide on small screens -->
                    <th scope="col">Województwo</th>
                    <th scope="col" class="text-center">Wartość</th>
                    <th scope="col">Powiązane Odznaki</th>
                </tr>
            </thead>
            <tbody>
                <!-- Datatables will populate this via AJAX -->
            </tbody>
        </table>
    </div>

{% endblock %}


{% block extra_js %}
{% load static %}
<script src="{% static 'js/odznaki/poi_scores.js' %}"></script>
{% endblock %}